.footer {
  background-color: #1f1f11;
  color: #ccc;
}

/* Grid container */
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px; /* FIXED */
  padding: 50px 80px;
}

/* Footer headings */
.footer-box h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}

/* Text */
.footer-box p {
  font-size: 14px;
  line-height: 1.7;
}

/* Lists */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li .link {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-box ul li .link:hover {
  color: #fff;
}

/* Social icons */
.social-icons {
  margin-top: 15px;
}

.social-icons .link {
  display: inline-block;
  margin-right: 12px;
  font-size: 18px;
  color: #ccc;
  text-decoration: none;
}

.social-icons .link:hover {
  color: #fff;
}

.social-icons .link svg {
  font-size: 18px;
}

/* Footer bottom text */
.footer-text {
  background-color: #111;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: #aaa;
}

/* Contact items */
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.contact-item svg {
  color: #fff;
}

/*Tablets*/
@media (max-width: 992px) {
  .footer-container {
    padding: 40px 40px;
  }

  .footer-box h3 {
    font-size: 16px;
  }
}

/*Mobile*/
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 30px 20px;
    text-align: center;
  }

  .footer-box {
    align-items: center;
  }

  .social-icons {
    justify-content: center;
  }

  .contact-item {
    justify-content: center;
  }
}
